<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/static/tugas1.css">

<h1>UNIVERSITAS DAYANU IKHSANUDDIN</h1>

<h2>Baubau</h2>

Nama: <b>IKSAN</b>
<br/>
Alamat: <b>BATAUGA</b>
<br><br>

<img src="/static/fhoto.jpg" height="100px" margin="10px">
<br><br>
<table border="2px" margin=30px>
  <tr>
    <th>Nama Mahasisa</th>
    <th>NIM</th>
    <th>HP</th>
  </tr>
  <tr>
    <td>Afis Felamba</td>
    <td>21650096</td>
    <td>+62 812-20</td>
  </tr>
  <tr>
    <td>La Ode Muh Adam Safitra</td>
    <td>21650122</td>
    <td>+62 823-76</td>
  </tr>
</table>

<p>Materi hari ini:</p>
<ol>
  <li>Pengenalan HTML</li>
  <li>Elemen HTMl</li>
  <li>Tag dan attribut HTML</li>
</ol>

<p>
link: <br>
<ul>
  <li><a href="https://google.com">Google</a><br>
  <li><a href="https://www.facebook.com/profile.php?id=100079123777650">Facebook</a>
<p>
