<!DOCTYPE html>
<html>
<head>
  <title>Kalkulator</title>
  <link rel="stylesheet" href="/static/kalkulator.css">
  <script src="/static/kalkulator.js" defer></script>
</head>
<body>
<div class="container">
  <input type="text" id="output">
  <div id="tombol">
    <div id="angka">
      <span id="a9">9</span>
      <span id="a8">8</span>
      <span id="a7">7</span>
      <span id="a6">6</span>
      <span id="a5">5</span>
      <span id="a4">4</span>
      <span id="a3">3</span>
      <span id="a2">2</span>
      <span id="a1">1</span>
      <span id="a0">0</span>
    </div>
    <div id="operasi">
      <span id="o-c">C</span>
      <span id="o-m">-</span>
      <span id="o-k">*</span>
      <span id="o-b">/</span>
      <span id="o-s">=</span>
      <span id="o-t">+</span>
    </div>
  </div>
  <script>

  </script>
</div>
</body>
</html>
