<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buku </title>
  <link rel="stylesheet" href="/static/buku.css">
</head>
<body>
  <div class="container">
    <div class="box">
      <h3 class="title">BUKU SATU</h3>
      <p class="subtitle">Teknik Informatika</p>
      <button class="button">Lihat</button>
    </div>
    <div class="box">
      <h3 class="title">BUKU SATU</h3>
      <p class="subtitle">Teknik Informatika</p>
      <button class="button">Lihat</button>
    </div>
    <div class="box">
      <h3 class="title">BUKU SATU</h3>
      <p class="subtitle">Teknik Informatika</p>
      <button class="button">Lihat</button>
    </div>
    <div class="box">
      <h3 class="title">BUKU SATU</h3>
      <p class="subtitle">Teknik Informatika</p>
      <button class="button">Lihat</button>
    </div>
    <div class="box">
      <h3 class="title">BUKU SATU</h3>
      <p class="subtitle">Teknik Informatika</p>
      <button class="button">Lihat</button>
    </div>
    <div class="box">
      <h3 class="title">BUKU SATU</h3>
      <p class="subtitle">Teknik Informatika</p>
      <button class="button">Lihat</button>
    </div>
  </div>
</body>
</html>
