<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil</title>
  <link rel="stylesheet" href="/static/tanda-pengenal.css">
</head>
<body>
<div class="container">
  <div class="image">
    <img src="/static/foto2.jpg" alt="">
  </div>
  <div class="info">
    <h1>IKSAN</h1>
    <p>Informatika</p>
    <a href="https://instagram.com/iksan_ti9?igshid=MzNlNGNkZWQ4Mg==">Follow</a>
  </div>
</div>
</body>
</html>
